header img {
  width: 30px;
  cursor: pointer;
}
header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  margin-bottom: 150px;
}
.header-title {
  position: relative;
}
.header-title h2 {
  position: relative;
  left: 35px;
}
